body {
    margin: 0;
    font-size: 8pt;
}
#DatasetTables {
    display: block;
    width: 40%;
    height: 70%;
    max-height: 70%;
    position: absolute;
}
#cob {
    border: 2px solid #000000;
    display: inline;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
#cob .graph {
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0px;
}
#cob .menu {
    width: 30%;
    height: 100%;
    position: absolute;
}

#GeneTable {
    background-color: red;
    display: inline;
    left:0;
    bottom: 0;
    height:30%;
    width:100%;
    position: absolute;
}


div .tab .bar {
    color: #ffffff;
    left: 0;
    margin-bottom: 2px;
    overflow: hidden;
    padding: 12px;
    top: 0;
    width: 350px;
;}
