body {
    margin: 0;
}
#DatasetTables {
    display: block;
    width: 40%;
    height: 70%;
    max-height: 70%;
    position: absolute;
}
#cy {
    border: 2px solid #000000;
    display: inline;
    height: 70%;
    left: 40%;
    position: absolute;
    top: 0;
    width: 59%;
}

#GeneTable {
    background-color: red;
    display: inline;
    left:0;
    bottom: 0;
    height:30%;
    width:100%;
    position: absolute;
}
